Xerife.Web/Service References/ChannelProjetoWebService/ChannelProjetoWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax212="http://dto.integracao.webservices.channel2.jexperts.com.br/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://integracao.webservices.channel2.jexperts.com.br" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://integracao.webservices.channel2.jexperts.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsdl:types>
    <xs:schema xmlns:ax213="http://dto.integracao.webservices.channel2.jexperts.com.br/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://integracao.webservices.channel2.jexperts.com.br">
      <xs:import namespace="http://dto.integracao.webservices.channel2.jexperts.com.br/xsd" />
      <xs:element name="listarAtividadesProjetos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idProjeto" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarAtividadesProjetosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax213:DadosAtividade" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarQuestoesPendentes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idProjeto" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarQuestoesPendentesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax213:DadosQuestaoPendente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarRiscosProjetos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idProjeto" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarRiscosProjetosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax213:DadosRisco" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.integracao.webservices.channel2.jexperts.com.br/xsd">
      <xs:complexType name="DadosAtividade">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataFim" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataInicio" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="edt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="percentualConcluido" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="responsavel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DadosQuestaoPendente">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataLimite" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="responsavel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DadosRisco">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataFim" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataInicio" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="estrategiaResposta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="responsavel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="listarQuestoesPendentesRequest">
    <wsdl:part name="parameters" element="ns:listarQuestoesPendentes" />
  </wsdl:message>
  <wsdl:message name="listarQuestoesPendentesResponse">
    <wsdl:part name="parameters" element="ns:listarQuestoesPendentesResponse" />
  </wsdl:message>
  <wsdl:message name="listarAtividadesProjetosRequest">
    <wsdl:part name="parameters" element="ns:listarAtividadesProjetos" />
  </wsdl:message>
  <wsdl:message name="listarAtividadesProjetosResponse">
    <wsdl:part name="parameters" element="ns:listarAtividadesProjetosResponse" />
  </wsdl:message>
  <wsdl:message name="listarRiscosProjetosRequest">
    <wsdl:part name="parameters" element="ns:listarRiscosProjetos" />
  </wsdl:message>
  <wsdl:message name="listarRiscosProjetosResponse">
    <wsdl:part name="parameters" element="ns:listarRiscosProjetosResponse" />
  </wsdl:message>
  <wsdl:portType name="ChannelProjetoWebServicePortType">
    <wsdl:operation name="listarQuestoesPendentes">
      <wsdl:input wsaw:Action="urn:listarQuestoesPendentes" message="ns:listarQuestoesPendentesRequest" />
      <wsdl:output wsaw:Action="urn:listarQuestoesPendentesResponse" message="ns:listarQuestoesPendentesResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarAtividadesProjetos">
      <wsdl:input wsaw:Action="urn:listarAtividadesProjetos" message="ns:listarAtividadesProjetosRequest" />
      <wsdl:output wsaw:Action="urn:listarAtividadesProjetosResponse" message="ns:listarAtividadesProjetosResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarRiscosProjetos">
      <wsdl:input wsaw:Action="urn:listarRiscosProjetos" message="ns:listarRiscosProjetosRequest" />
      <wsdl:output wsaw:Action="urn:listarRiscosProjetosResponse" message="ns:listarRiscosProjetosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelProjetoWebServiceSoap11Binding" type="ns:ChannelProjetoWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarQuestoesPendentes">
      <soap:operation soapAction="urn:listarQuestoesPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAtividadesProjetos">
      <soap:operation soapAction="urn:listarAtividadesProjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRiscosProjetos">
      <soap:operation soapAction="urn:listarRiscosProjetos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelProjetoWebServiceHttpBinding" type="ns:ChannelProjetoWebServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="listarQuestoesPendentes">
      <http:operation location="ChannelProjetoWebService/listarQuestoesPendentes" />
      <wsdl:input>
        <mime:content part="listarQuestoesPendentes" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="listarQuestoesPendentes" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAtividadesProjetos">
      <http:operation location="ChannelProjetoWebService/listarAtividadesProjetos" />
      <wsdl:input>
        <mime:content part="listarAtividadesProjetos" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="listarAtividadesProjetos" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRiscosProjetos">
      <http:operation location="ChannelProjetoWebService/listarRiscosProjetos" />
      <wsdl:input>
        <mime:content part="listarRiscosProjetos" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="listarRiscosProjetos" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelProjetoWebService">
    <wsdl:port name="ChannelProjetoWebServiceHttpSoap11Endpoint" binding="ns:ChannelProjetoWebServiceSoap11Binding">
      <soap:address location="http://172.17.0.4:8080/channel/services/ChannelProjetoWebService.ChannelProjetoWebServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ChannelProjetoWebServiceHttpEndpoint" binding="ns:ChannelProjetoWebServiceHttpBinding">
      <http:address location="http://172.17.0.4:8080/channel/services/ChannelProjetoWebService.ChannelProjetoWebServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>