Xerife.Business/Service References/ChannelApontamentoWebService/ChannelApontamentoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax220="http://generics.channel2.jexperts.com.br/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://integracao.webservices.channel2.jexperts.com.br" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax222="http://integracao.webservices.channel2.jexperts.com.br/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://integracao.webservices.channel2.jexperts.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		WebService de Apontamento de horas Channel
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax221="http://generics.channel2.jexperts.com.br/xsd" xmlns:ax223="http://integracao.webservices.channel2.jexperts.com.br/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://integracao.webservices.channel2.jexperts.com.br">
      <xs:import namespace="http://generics.channel2.jexperts.com.br/xsd" />
      <xs:import namespace="http://integracao.webservices.channel2.jexperts.com.br/xsd" />
      <xs:element name="registrarApontamento">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idAtividade" type="xs:int" />
            <xs:element minOccurs="0" name="valorHora" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="dataApontamento" nillable="true" type="xs:dateTime" />
            <xs:element minOccurs="0" name="colaborador" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax221:ResultadoOperacao" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoAvulso">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTipoOperacao" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTipoAtividade" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="valorHora" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="dataApontamento" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="colaborador" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoAvulsoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax221:ResultadoOperacao" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoOperacao">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idOperacao" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTicket" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idRubrica" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTipoAtividade" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTarefaSolicitacao" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idPassoWorkflow" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="valorHora" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="dataApontamento" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="colaborador" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoOperacaoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax221:ResultadoOperacao" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoProjeto">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idProjeto" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idAtividade" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTipoAtividade" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="idTarefa" nillable="true" type="xs:integer" />
            <xs:element minOccurs="0" name="valorHora" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="dataApontamento" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="colaborador" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registrarApontamentoProjetoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax221:ResultadoOperacao" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listaApontamentosPendentes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="tipoOperacao" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
            <xs:element minOccurs="0" name="idArea" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listaApontamentosPendentesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax223:ApontamentoPendente" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processeApontamentosRealizados">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="listaApontamentos" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="processeApontamentosRealizadosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax223:Resposta" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://generics.channel2.jexperts.com.br/xsd">
      <xs:complexType name="ResultadoOperacao">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="log" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="object" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="realizada" type="xs:boolean" />
          <xs:element minOccurs="0" name="tipoMensagem" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://integracao.webservices.channel2.jexperts.com.br/xsd">
      <xs:complexType name="ApontamentoPendente">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoProjeto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dataApontamento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descricaoAtividade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descricaoPrograma" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descricaoProjeto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descricaoSolicitacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="duracao" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="idApontamento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idArea" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idAreaExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idAtividade" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idAtividadeExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idPrograma" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idProgramaExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idProjeto" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idRubrica" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idRubricaExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTarefa" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTarefaExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTicket" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idTicketExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idUsuarioExterno" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="tipoOperacao" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Resposta">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sucesso" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="listaApontamentosPendentesRequest">
    <wsdl:part name="parameters" element="ns:listaApontamentosPendentes" />
  </wsdl:message>
  <wsdl:message name="listaApontamentosPendentesResponse">
    <wsdl:part name="parameters" element="ns:listaApontamentosPendentesResponse" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoOperacaoRequest">
    <wsdl:part name="parameters" element="ns:registrarApontamentoOperacao" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoOperacaoResponse">
    <wsdl:part name="parameters" element="ns:registrarApontamentoOperacaoResponse" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoRequest">
    <wsdl:part name="parameters" element="ns:registrarApontamento" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoResponse">
    <wsdl:part name="parameters" element="ns:registrarApontamentoResponse" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoAvulsoRequest">
    <wsdl:part name="parameters" element="ns:registrarApontamentoAvulso" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoAvulsoResponse">
    <wsdl:part name="parameters" element="ns:registrarApontamentoAvulsoResponse" />
  </wsdl:message>
  <wsdl:message name="processeApontamentosRealizadosRequest">
    <wsdl:part name="parameters" element="ns:processeApontamentosRealizados" />
  </wsdl:message>
  <wsdl:message name="processeApontamentosRealizadosResponse">
    <wsdl:part name="parameters" element="ns:processeApontamentosRealizadosResponse" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoProjetoRequest">
    <wsdl:part name="parameters" element="ns:registrarApontamentoProjeto" />
  </wsdl:message>
  <wsdl:message name="registrarApontamentoProjetoResponse">
    <wsdl:part name="parameters" element="ns:registrarApontamentoProjetoResponse" />
  </wsdl:message>
  <wsdl:portType name="ChannelApontamentoWebServicePortType">
    <wsdl:operation name="listaApontamentosPendentes">
      <wsdl:input wsaw:Action="urn:listaApontamentosPendentes" message="ns:listaApontamentosPendentesRequest" />
      <wsdl:output wsaw:Action="urn:listaApontamentosPendentesResponse" message="ns:listaApontamentosPendentesResponse" />
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoOperacao">
      <wsdl:input wsaw:Action="urn:registrarApontamentoOperacao" message="ns:registrarApontamentoOperacaoRequest" />
      <wsdl:output wsaw:Action="urn:registrarApontamentoOperacaoResponse" message="ns:registrarApontamentoOperacaoResponse" />
    </wsdl:operation>
    <wsdl:operation name="registrarApontamento">
      <wsdl:input wsaw:Action="urn:registrarApontamento" message="ns:registrarApontamentoRequest" />
      <wsdl:output wsaw:Action="urn:registrarApontamentoResponse" message="ns:registrarApontamentoResponse" />
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoAvulso">
      <wsdl:input wsaw:Action="urn:registrarApontamentoAvulso" message="ns:registrarApontamentoAvulsoRequest" />
      <wsdl:output wsaw:Action="urn:registrarApontamentoAvulsoResponse" message="ns:registrarApontamentoAvulsoResponse" />
    </wsdl:operation>
    <wsdl:operation name="processeApontamentosRealizados">
      <wsdl:input wsaw:Action="urn:processeApontamentosRealizados" message="ns:processeApontamentosRealizadosRequest" />
      <wsdl:output wsaw:Action="urn:processeApontamentosRealizadosResponse" message="ns:processeApontamentosRealizadosResponse" />
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoProjeto">
      <wsdl:input wsaw:Action="urn:registrarApontamentoProjeto" message="ns:registrarApontamentoProjetoRequest" />
      <wsdl:output wsaw:Action="urn:registrarApontamentoProjetoResponse" message="ns:registrarApontamentoProjetoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelApontamentoWebServiceSoap11Binding" type="ns:ChannelApontamentoWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaApontamentosPendentes">
      <soap:operation soapAction="urn:listaApontamentosPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoOperacao">
      <soap:operation soapAction="urn:registrarApontamentoOperacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamento">
      <soap:operation soapAction="urn:registrarApontamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoAvulso">
      <soap:operation soapAction="urn:registrarApontamentoAvulso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processeApontamentosRealizados">
      <soap:operation soapAction="urn:processeApontamentosRealizados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoProjeto">
      <soap:operation soapAction="urn:registrarApontamentoProjeto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelApontamentoWebServiceHttpBinding" type="ns:ChannelApontamentoWebServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="listaApontamentosPendentes">
      <http:operation location="ChannelApontamentoWebService/listaApontamentosPendentes" />
      <wsdl:input>
        <mime:content part="listaApontamentosPendentes" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="listaApontamentosPendentes" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoOperacao">
      <http:operation location="ChannelApontamentoWebService/registrarApontamentoOperacao" />
      <wsdl:input>
        <mime:content part="registrarApontamentoOperacao" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="registrarApontamentoOperacao" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamento">
      <http:operation location="ChannelApontamentoWebService/registrarApontamento" />
      <wsdl:input>
        <mime:content part="registrarApontamento" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="registrarApontamento" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoAvulso">
      <http:operation location="ChannelApontamentoWebService/registrarApontamentoAvulso" />
      <wsdl:input>
        <mime:content part="registrarApontamentoAvulso" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="registrarApontamentoAvulso" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processeApontamentosRealizados">
      <http:operation location="ChannelApontamentoWebService/processeApontamentosRealizados" />
      <wsdl:input>
        <mime:content part="processeApontamentosRealizados" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="processeApontamentosRealizados" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarApontamentoProjeto">
      <http:operation location="ChannelApontamentoWebService/registrarApontamentoProjeto" />
      <wsdl:input>
        <mime:content part="registrarApontamentoProjeto" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="registrarApontamentoProjeto" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelApontamentoWebService">
    <wsdl:port name="ChannelApontamentoWebServiceHttpSoap11Endpoint" binding="ns:ChannelApontamentoWebServiceSoap11Binding">
      <soap:address location="http://172.17.0.5:8080/channel/services/ChannelApontamentoWebService.ChannelApontamentoWebServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="ChannelApontamentoWebServiceHttpEndpoint" binding="ns:ChannelApontamentoWebServiceHttpBinding">
      <http:address location="http://172.17.0.5:8080/channel/services/ChannelApontamentoWebService.ChannelApontamentoWebServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>